langchain
langchain-classic
langchain-openai
langchain-community
langchain-core
langchain-experimental
langgraph
python-dotenv
mysql-connector-python
requests
openai
yfinance
tavily-python
streamlit
fastapi
uvicorn
